@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*index.html*/
nav {
  width: 100%;
  background-color: #caf7e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*carousel*/
.carousel {
  height: auto;
  width: 100%;
}

.efecto {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.carousel__titulo {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  text-shadow: black -4px -4px;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}

.carousel__descripcion {
  font-size: 30px;
  margin-right: 150px;
  text-shadow: black -10px -6px;
}

.caption-center {
  top: 10%;
  padding-right: 20px;
}

/* proximos partidos */
.seccion1 {
  height: 1000px;
  width: 100%;
  background-color: #caf7e3;
}

.seccion1__titulo {
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Nunito Sans', sans-serif;
}

.contenedor {
  margin-left: 80px;
  margin-top: 30px;
  padding-left: 20px;
}

.proxPartidos1 {
  list-style: none;
}

.proxPartidos1__titulo2 {
  font-weight: bold;
}

/* gol de la fecha */
.seccion1__golDeLaFecha {
  text-align: center;
  padding-bottom: 30px;
}

.golazo {
  padding-top: 10px;
}

.seccion1__tituloGol {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

/*footer*/
.footer {
  background: #152F4F;
  color: white;
}

.footer .links ul {
  list-style-type: none;
}

.footer .links li a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}

.footer .about-company i {
  font-size: 35px;
}

.footer .about-company a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
  padding: 5px;
}

.footer .about-company a:hover {
  color: #4180CB;
}

.footer .location i {
  font-size: 18px;
}

.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/*noticias*/
.seccion1Noticias {
  height: 1150px;
  background-color: #edffec;
}

.contenedorNoticias {
  padding-top: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  background-size: cover;
  padding: 7px;
}

.tituloNoticias {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.tituloBold {
  font-weight: bold;
}

/*estadisticas*/
.estadisticas1 {
  height: 550px;
  background-color: #caf7e3;
  width: 100%;
  padding: 15px;
}

.seccion1Estadisticas {
  height: 400px;
  width: 100%;
  background-color: #caf7e3;
  padding: 15px;
}

.tituloEstadisticas {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
}

.goleadores {
  list-style: none;
  padding-top: 10px;
}

/*contacto*/
.seccion1Contacto {
  background-color: #caf7e3;
  height: 1000px;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 30px;
  border: 0px;
}

div p {
  text-align: center;
}

.seccion1Contacto__tituloContacto {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.seccion1Contacto__tituloContacto {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.formulario1 {
  padding-bottom: 10px;
}

.seccion1Contacto {
  height: 250px;
  width: 100%;
  background-color: #edffec;
  margin-bottom: 10px;
}

.seccion1Contacto__redes {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 10px;
}

.seccion1Contacto__redes1 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

/* estadisticas seleccion */
.campeonatos {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 10px;
  font-weight: bold;
}

.tituloCopa {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  padding: 5px;
}

/*gaaleria*/
.seccion1galeria {
  height: auto;
  width: 99%;
  background-color: #caf7e3;
}

.seccion1galeria__galeria {
  width: 100%;
  height: 350px;
}

.col-lg-4 {
  padding: 25px;
}

.col-lg-4 img:hover {
  border: 5px solid #f7f7f7;
}

#leo {
  background-size: cover;
}

.seccion1galeria__tituloCopa {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  padding: 5px;
}

.row {
  padding: 10px;
}

/*Media quares*/
@media screen and (min-width: 320px) {
  /*inicio*/
  .carousel__titulo {
    font-size: 30px;
  }
  .carousel__descripcion {
    font-size: 10px;
  }
  .contenedor {
    margin-left: 10px;
  }
  .seccion1 {
    height: 1600px;
    width: 100%;
  }
  .seccion1__titulo {
    padding-top: 10px;
  }
  .list-group-item {
    text-align: left;
  }
  .proxPartidos1 {
    font-size: 15px;
    padding-top: 25px;
    word-break: keep-all;
    padding-left: 40px;
  }
  .seccion1__tituloGol {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .seccion1__golDeLaFecha2 {
    padding-top: 35px;
    height: 190px;
    width: 280px;
    padding-left: 10px;
  }
  /*noticias*/
  .seccion1Noticias {
    height: 1600px;
    height: auto;
  }
  .tituloNoticias {
    padding-top: 10px;
  }
  /*estadisticas*/
  .seccion1Estadisticas {
    height: 2150px;
  }
  .goleadores {
    padding-top: 30px;
    padding-left: 10px;
  }
  .estadisticas1 {
    height: 700px;
  }
  /*estadisticas seleccion*/
  .tituloCopa {
    font-size: 20px;
  }
  /*galeria seleccion*/
  .seccion1galeria__tituloCopa {
    padding-top: 15px;
  }
  .seccion1galeria__galeria {
    height: 200px;
    width: 300px;
  }
  /*contacto*/
  .seccion1Contacto {
    height: 700px;
    width: auto;
    background-color: #caf7e3;
  }
}

@media screen and (min-width: 460px) {
  /*inicio*/
  .seccion1 {
    height: 1350px;
    width: 100%;
  }
  .contenedor {
    margin-right: 20px;
    margin-left: 10px;
  }
  /*estadisticas*/
  .seccion1Estadisticas {
    height: 1900px;
    width: 100%;
  }
  /*galeria*/
  .seccion1galeria__galeria {
    height: 300px;
    width: 100%;
  }
  /*contacto*/
}

@media screen and (min-width: 460px) and (min-width: 600px) {
  .carousel__titulo {
    font-size: 40px;
  }
  .carousel__descripcion {
    font-size: 20px;
  }
  .list-group-item {
    height: 80px;
    width: 512px;
    padding-left: none;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
  }
  .contenedor {
    margin-left: 15px;
  }
  .list-group {
    padding-left: none;
  }
  .seccion1 {
    height: 1480px;
    width: 100%;
    background-color: #caf7e3;
  }
  .seccion3 {
    height: 450px;
    width: 100%;
  }
  .seccion1__tituloGol {
    padding-top: 10px;
  }
  .seccion1__golDeLaFecha2 {
    height: 315px;
    width: 560px;
    padding-right: 15px;
  }
  /* seleccion estadisticas */
  .seccion1Estadisticas {
    height: 2700px;
    width: 100%;
  }
  .tituloCopa {
    font-size: 40px;
  }
  .contenedor2 {
    padding-left: 70px;
  }
  /*noticias*/
  .seccion1Noticias {
    height: 1300px;
    width: 100%;
  }
  /*Galeria*/
  .seccion1galeria__galeria {
    height: 350px;
    width: 550px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 460px) and (min-width: 1024px) {
  /*inicio*/
  .proxPartidos1 {
    padding-left: 250px;
  }
  .seccion1 {
    height: 1200px;
    width: 100%;
  }
  /*galeria*/
  .seccion1galeria__galeria {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: 220px;
    width: auto;
    margin-left: -10px;
  }
  /*estadisticas*/
  .seccion1Estadisticas {
    height: 2400px;
    width: 100%;
  }
  /*noticias*/
  .seccion1Noticias {
    height: 1150px;
    width: 100%;
  }
  /*contacto*/
}

@media screen and (min-width: 460px) and (min-width: 1440px) {
  /*inicio*/
  .proxPartidos1 {
    padding-left: 130px;
  }
  .carousel__titulo {
    font-size: 50px;
  }
  .carousel__descripcion {
    font-size: 30px;
  }
  /*estadisticas*/
  .seccion1Estadisticas {
    height: 2400px;
    width: 100%;
  }
  /*galeria*/
  .seccion1galeria__galeria {
    width: 100%;
    height: 350px;
  }
  /*noticias*/
  .seccion1Noticias {
    height: 1400px;
    width: 100%;
  }
}

@media screen and (min-width: 460px) and (min-width: 1600px) {
  .seccion1 {
    height: 1100px;
    border-top: white 10px;
  }
  .contenedor2 {
    padding-left: 20px;
  }
  .row {
    padding: 10px;
  }
  .seccion1galeria__galeria {
    margin-left: 1px;
  }
  .seccion1Contacto {
    height: 700px;
    background-color: #caf7e3;
  }
  .seccion1Estadisticas {
    height: 2300px;
  }
  .seccion1Noticias {
    height: 1290px;
  }
}
/*# sourceMappingURL=estilos.css.map */